@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: url(./images/meat1.webp);
    background-size: cover;
    --button-padding: 10px 30px;
}

/* .white-text {
    color: #fff;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 40px;
}

header .brand-name a {
    color: #fff;
    font-size: 32px;
    text-decoration: none;
}

header .nav-links {
    display: flex;
    list-style: none;
}

header .nav-links li {
    padding-left: 20px;
}

header .nav-links li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header .nav-links li a:hover {
    color:blue;
    transition: 0.2s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
}

main h2 {
    color: #fff;
    font-size: 72px;
    text-shadow: 5px 5px 20px #000;
    text-transform: uppercase;
}

main button {
    background: #fff;
    border: none;
    font-size: 14px;
    padding: var(--button-padding);
    border-radius: 30px;
    text-transform: uppercase;
}